.slider4 {
    width: 95%;
    max-height:250px;
    margin: 0 auto;
    margin-top: 10px;
    overflow:hidden;
  }
  
  .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }


.slick-next:before {
  content: ">";
  color: black;
  font-weight: 600;
  font-size: 30px;
  }

  .slick-prev:before {
    content: "<";
    color: black;
    font-size: 30px;
    }


  
   .common-detail-slider-card {
    border: 1px solid white;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    line-height: 1.3rem;
  
    height: 300px;
    color: black;
    cursor: pointer;
  }
  
 .common-detail-slider-card-top h1 {
    font-size: 0.9rem;
    margin: 20px;
  }
  
 .common-detail-slider-card-top > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
  }
  
 .common-detail-slider-card-bottom {
    margin: 10px 20px;
  }
  
