*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family: "-apple-system",BlinkMacSystemFont,"-webkit-system-font","Malgun Gothic","Segoe UI","Helvetica Neue",Helvetica,sans-serif;
}


